{% extends 'base.html' %}

{% block title %} DinoQuiz {% endblock %}


{% block content %}
<h1 class="mt-5">Dino Quiz!</h1>

<form method="POST" name="dino_form">

<div>
    <h2>Question 1</h2>
    <legend> Dinosaur fossil have been found on all seven continents.
        On which continet have the most dinosaur fossil been found?</legend>
        <select class="form-select mb-3" aria-label="Question 1" name="Question1" id="Question1">
            <option value="Africa">Africa</option>
            <option value="Antartica">Antartica</option>
            <option value="Asia">Asia</option>
            <option value="Australia">Australia</option>
            <option value="Europe">Europe</option>
            <option value="North America">North America</option>
            <option value="South America">South America</option>
        </select>
</div>

<div class="mb-3">
    <h2>Question 2</h2>
    <legend>Which of these dinosarus are herbivores?</legend>
    <ul>
        <li class="form-check">
            <label class="form-check-label" for="Triceratops">Triceratops</label>
            <input class="form-check-input" type="Checkbox" name="Question2" value="Triceratops" id="Triceratops">
        </li>
    </ul>
    <ul>
        <li class="form-check">
            <label class="form-check-label" for="Allosaurus">Allosaurus</label>
            <input class="form-check-input" type="Checkbox" name="Question2" value="Allosaurus" id="Allosaurus">
        </li>
    </ul>
    <ul>
        <li class="form-check">
            <label class="form-check-label" for="Stegosaurus">Stegosaurus</label>
            <input class="form-check-input" type="Checkbox" name="Question2" value="Stegosaurus" id="Stegosaurus">
        </li>
    </ul>
    <ul>
        <li class="form-check">
            <label class="form-check-label" for="Velociraptor">Velociraptor</label>
            <input class="form-check-input" type="Checkbox" name="Question2" value="Velociraptor" id="Velociraptor">
        </li>
    </ul>
</div>

<div class="mb-3">
    <h2>Question 3</h2>
    <legend>All dinosaurs hatch from eggs. True or False?</legend>
    <ul>
        <li class="form-check">
            <label class="form-check-label" for="True">True</label>
            <input class="form-check-input" type="radio" name="Question3" value="True" id="True">
        </li>
    </ul>
    <ul>
        <li class="form-check">
            <label class="form-check-label" for="False">False</label>
            <input class="form-check-input" type="radio" name="Question3" value="False" id="False">
        </li>
    </ul>
</div>

<div class="mb-3">
    <h2>Question 4</h2>
    <legend>Dinosaurs went extinct:</legend>
    <div>
        <input class="form-control"type="text" id="Question4" name="Question4">
        <label class="form-label" for="Question4">million years ago</label>
    </div>
</div>

<div>
    <button class="btn btn-danger" type="reset" value="Reset">Reset</button>
    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
</div>

</form>
{% endblock %}